<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GymManagementSystem.My.MySettings.GYMConnectionString"
            connectionString="Data Source=ANKUR-JC8RIC1;Initial Catalog=GYM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
